header{
    background-color: #000;
    color: #fff;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;

}
img{
    width: 100%;
}
*{
    box-sizing: border-box;
}
.header-wrapper {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto ;
    
}



nav ul {
    list-style: none;
    padding: 0; 
    display: flex;
   
}

nav ul li {
    display: inline;
    padding: 5px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}


#hero {
    height: 500px; 
    background-image: url('../images/hands-typing.jpg'); 
    background-size: cover;
    background-position: center; 
    filter: grayscale(70%); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
#hero h1 {
    max-width: 60%; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }


#about-me .wrapper{
   display: grid;
   grid-template-columns: 650px 350px;
   
}
.wrapper{
   margin: 0 auto;
   max-width: 940px;
    }

.content {
  text-align: left; 
  padding-top: 30px;
}
.content img {
     align-self: bottom;
}

/* Section */
.wrapper2 {
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
    
   
  }

  #services{
    background-color: #fafafa;
  }
 .wrapper2 h2 {
    max-width: 100%;
    text-align: center;
  }
  
  section .wrapper2 {
    display: flex;
    flex-direction: column;
  }
  
.services-grid {
    display: grid;
    gap: 2em;
    padding: 15px;
    grid-template-columns: repeat(3, 1fr);
}

 #services article {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    font-size: .8em;
  }

  #services article h3 {
    font-size: 2em;
  }
  
#services article .btn {
    margin-top: auto;
    padding: 15px 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
  }
  
#services article .btn:hover {
    background-color: #fff;
    color: #000;
  }
  

  /* My work section */



.wrapper3 {
    margin: 0 auto;
    max-width: 940px;
}
.wrapper3 h2,
.wrapper3 p {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding:20px;
    
}

.field-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  
  .field-6 .block1:nth-child(1){
    grid-column: 1 / 4;
  }
  
  .field-6 .block2:nth-child(2){
    grid-column: 4 / 7;
  }
  .field-6 .block3:nth-child(3) {
    grid-column:  1 / 3;
  }
  
  .field-6 .block4:nth-child(4) {
    grid-column: 3 / 5;
  }
  
  .field-6 .block5:nth-child(5) {
    grid-column: 5 / 7 ;
  }


  .footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px; 
    margin-top: 50px;
}
